body {
    margin: 0;
}

/* To Do List 제목 */
.main-title {
    position: absolute;

    width: 517px;
    height: 154px;

    top: 64px;
    left: 300px;

    margin: 0;

    font-family: "Chocolate Classical Sans", sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 100%;

    color: #225A98;

    text-shadow: 0 4px 4px #00000040;
}
.main-page {
    position: relative;

    width: 1064px;
    height: 738px;

    margin: 0 auto;

    background: linear-gradient(
        180deg,
        #F8FAFC 0%,
        #D9EAFD 100%
    );
}