{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>로그인</title>

    <link
        rel="stylesheet"
        href="{% static 'todos/login.css' %}"    
    >
    <link rel="stylesheet" href="{% static 'todos/common.css' %}">
</head>

<body>
    <main class="main-page">

        <h1 class="main-title">
            To Do List
        </h1>

        <form method="post">
            {% csrf_token %}

            <label
                class="id-label"
                for="{{ form.username.id_for_label }}"
            >
                아이디
            </label>

            <div class="id-input">
                {{ form.username }}
            </div>

            <label
                class="password-label"
                for="{{ form.password.id_for_label }}"
            >
                패스워드
            </label>

            <div class="password-input">
                {{ form.password }}
            </div>

            <input
                type="hidden"
                name="next"
                value="{{ next }}"
            >

            <button
                class="login-button"
                type="submit"
            >
                로그인
            </button>
        </form>

    </main>
</body>
</html>